{%extends 'base.html'%}


{% block head %}
  <!-- Custom styles for this template -->
<!--<link href="https://v3.bootcss.com/examples/carousel/carousel.css" rel="stylesheet">-->
{% endblock %}


{% block nav %}
<nav>
    <ul class="nav nav-pills pull-right">
        <!--Home -->
        <li role="presentation" >
            <a href="{{ context['page'].HOME_DOMAIN }}">{{ context['page'].HOME_TEXT }}</a>
        </li>
        <!--JOURNAL -->
        <li role="presentation">
            <a href="{{ context['page'].JOURNAL_DOMAIN }}">{{ context['page'].JOURNAL_TEXT }}</a>
        </li>
        <!--HOBBY -->
        <li role="presentation">
            <a href="{{ context['page'].HOBBY_DOMAIN }}">{{ context['page'].HOBBY_TEXT }}</a>
        </li>
        <!--BLOG -->
        <li role="presentation">
            <a href="{{ context['page'].BLOG_DOMAIN }}">{{ context['page'].BLOG_TEXT }}</a>
        </li>
        <!--COURSEWARE -->
        <li role="presentation" class="active">
            <a href="{{ url_for(context['page'].COURSEWARE_DOMAIN) }}">{{ context['page'].COURSEWARE_TEXT }}</a>
        </li>
        <!--CONTACTL -->
        <li role="presentation">
            <a href="{{ context['page'].CONTACT_DOMAIN }}">{{ context['page'].CONTACT_TEXT }}</a>
        </li>

    </ul>
</nav>
{% endblock %}





{% block header %}
<div class="jumbotron">
    <h2>知识库</h2>
    <p class="lead">用于展示学习各类语言、技能等梳理的知识脉络，包括但不仅限于ppt、html展示、链接博客、日志等.</p>
    <!--<p><a class="btn btn-lg btn-primary" href="/more.html" role="button">了解更多</a></p>-->
</div>
{% endblock %}



{% block content %}
<div class="row marketing">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ url_for('static',filename='img/kotlin_logo.jpg')}}" alt="...">
      <div class="caption">
        <h3>Kotlin </h3>
        <p> Kotlin 语言基础了解.主要介绍Kotlin的语法规则、使用场景、以及和其他语言作一些简单的比较.</p>
        <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

