{% extends 'share/base.html' %}

{% block description %}
<meta name="description" content="技术分享话题展示,kotlin,java,python,android">
{% endblock %}

{% block keywords %}
<meta name=keywords content="kotlin,java,python,android,share,话题,技术">
{% endblock %}

{% block title %}
技术分享
{% endblock %}







{% block main %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading text-dark">Kotlin</h1>
          <p class="lead text-muted">Kotlin 诞生于2011,由著名的工具开发公司JetBrains开发产生。Kotlin支持多场景应用，并于2017年Google大会正式宣布为android官方开发语言，其特有的协程功能更是让人眼前一亮,潜力巨大.</p>
          <p>
            <a href="{{ url_for('share.child_category',name ='kotlin' ) }}" class="btn btn-primary my-2">查看详情</a>
            <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
            <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row content">






          </div>
        </div>
      </div>
    </main>
{% endblock %}


{% block script %}
<script src="{{ url_for('static',filename = 'js/share/show.js')}}?v=2018144"></script>
{% endblock %}