<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,,shrink-to-fit=no">

    {% block description %}
    <meta name="description" content="">
    {% endblock %}

    {% block keywords %}
     <meta name=keywords content="404 page, css3, template, html5 template">
    {% endblock %}

    <meta name="author" content="hfcai" >

    {% block icon%}
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    {% endblock %}
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title> {% block title %} EnjoyToday {% endblock %}</title>
        <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename = 'css/cover.css') }}" rel="stylesheet">



    {% block head %}
    {% endblock %}


</head>


{% block body %}
<body>


<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ context['page'].WEB_BRAND }}</h3>
              {% block nav %}
              <nav class="nav nav-masthead">
                  <a class="nav-link active" href="{{ context['page'].HOME_DOMAIN }}">{{ context['page'].HOME_TEXT }}</a>
                  <a class="nav-link" href="{{ context['page'].JOURNAL_DOMAIN }}">{{ context['page'].JOURNAL_TEXT }}</a>
                  <a class="nav-link" href="{{ context['page'].HOBBY_DOMAIN }}">{{ context['page'].HOBBY_TEXT }}</a>
                  <a class="nav-link" href="{{ context['page'].BLOG_DOMAIN }}">{{ context['page'].BLOG_TEXT }}</a>
                  <a class="nav-link" href="{{ context['page'].COURSEWARE_DOMAIN }}">{{ context['page'].COURSEWARE_TEXT }}</a>
                  <a class="nav-link" href="{{ context['page'].CONTACT_DOMAIN }}">{{ context['page'].CONTACT_TEXT }}</a>
              </nav>
            {% endblock %}
            </div>
          </header>

            {% block main%}
            {% endblock %}

            {% block footer %}
            <footer class="mastfoot">
                <div class="inner">
                    <p>粤ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15100194</a>号 |
                        Power By Python <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
                        <a href="http://www.bootcss.com/" target="_blank">BootStrap</a> .</p>
                    <script type="text/javascript" src="{{ url_for('static',filename = 'js/statistics.js') }}"></script>
                </div>
            </footer>
            {% endblock %}

        </div>
      </div>
</div>


{% block content%}

{% endblock %}


</body>

{% endblock %}
</html>