<!DOCTYPE html>
{% block doc%}
<html lang="zh-CN">
{% block head%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,,shrink-to-fit=no">
    {% block description %}
    <meta name="description" content="">
    {% endblock %}
    {% block keywords %}
    <meta name=keywords content="">
    {% endblock %}
    <meta name="author" content="hfcai">
    {% block icon%}
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    {% endblock %}
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title> {% block title %} EnjoyToday {% endblock %}</title>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- Bootstrap core CSS -->
    <script src=" {{ url_for('static',filename='js/3.2.1/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename = 'js/bootstrap.min.js') }}?v=3.7"></script>
    <link href="{{ url_for('static',filename = 'css/3.3.7/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename = 'css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    {% block customer_css %}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename = 'css/jumbotron-narrow.css') }}?v=201801161121" rel="stylesheet">
    {% endblock%}
    {% block page_head %}
    {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>
{% block container %}
<div class="container">
    {% block header %}
    <hr>
    <div class="header clearfix">
        {% block nav %}
        <nav>
            <ul class="nav nav-pills pull-right">
                {% for item in config%}
                <li role="presentation" class="{{ item.name }}">
                    <a href="{{ url_for(item.endpoint) }}">{{ item.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% endblock %}
        {% block muted%}
        <h3 class="text-muted"> EnjoyToday </h3>
        {% endblock %}
    </div>


    {% endblock %}

    <div class="content"><!---->
        {% block content%}
        <!-- 内容显示-->
        {% endblock %}
    </div>

    {% block footer %}
    <footer class="footer navbar-default navbar-fixed-bottom">
        <p>粤ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15100194</a>号 |
            Power By Python <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
            <a href="http://www.bootcss.com/" target="_blank">BootStrap</a> .</p>
        <script type="text/javascript" src="{{ url_for('static',filename = 'js/statistics.js') }}"></script>
        <p></p>
    </footer>
    {% endblock %}

</div>

{% endblock %}
{% block script %}

{% endblock %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ url_for('static',filename = 'js/ie10-viewport-bug-workaround.js') }}"></script>

</body>
{% endblock %}

</html>
{% endblock %}
