<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="hfcai" >
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title> {% block title %} EnjoyToday {% endblock %}</title>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename = 'css/cover.css') }}" rel="stylesheet">


</head>


{% block body %}
<body>


<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">EnjoyToday</h3>


              {% block nav %}
              <nav class="nav nav-masthead">
                  <a class="nav-link active" href="http://www.enjoytoday.cn">Home</a>
                  <a class="nav-link" href="http://blog.enjoytoday.cn">Blog</a>
                  <a class="nav-link" href="http://courseware.enjoytoday.cn">CourseWare</a>
                  <a class="nav-link" href="http://www.enjoytoday.cn/contact.html">Contact</a>
              </nav>
            {% endblock %}
            </div>
          </header>
            {% block main%}
         <main role="main" class="inner cover">
            <h1 class="cover-heading">网站正在建设中,更多功能稍候开放...</h1>
            <p class="lead"></p>
            <p class="lead">
              <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
            </p>
          </main>
            {% endblock %}

            {% block footer %}
            <footer class="mastfoot">
                <div class="inner">
                    <p>粤ICP备<a href="http://www.miibeian.gov.cn" target="_blank">15100194</a>号 |
                        Power By Python <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
                        <a href="http://www.bootcss.com/" target="_blank">BootStrap</a> .</p>
                </div>
            </footer>
            {% endblock %}

        </div>
      </div>
</div>
</body>

{% endblock %}
</html>