{% extends 'base.html' %}

{% block script %}
<script>
    $('li.blog').addClass('active')
</script>
{% endblock %}

{% block content %}
<div class="well well-lg">
  子曰：“三人行，必有我师焉。择其善者而从之，其不善者而改之。”
</div>


<div class="article-list">
<style type="text/css">
      .item{
         margin-top:8em;
         margin-bottom:5em
      }
      .title{
        font-size:1.5em;
        color:#0000ff;
        text-indent: 0em;
        font-weight:bold;
      }
      .author{
          font-size:1em;
          float:right;
          color:black;

      }
      .description{
        font-size:1.2em;
        color:gray;
        text-indent: 0em;
        font-weight: normal;
        margin-top: 2em;
        margin-bottom: 1em;
      }

</style>

    <div class="item">
        <p class="title">Android 开发的标题</p>
        <span class="glyphicon glyphicon-search author" aria-hidden="true"></span>
        <p class="description">
            这里是文章的简单介绍,文字的类型为gray浅色,字号设置为1em,设置与标题间隔2em,与底部间隔为1em,这里是文章的简单介绍,文字的类型为gray浅色,字号设置为1em,设置与标题间隔2em,与底部间隔为1em
            这里是文章的简单介绍,文字的类型为gray浅色,字号设置为1em,设置与标题间隔2em,与底部间隔为1em,这里是文章的简单介绍,文字的类型为gray浅色,字号设置为1em,设置与标题间隔2em,与底部间隔为1em
        </p>

        <p>

        </p>


    </div>




</div>



<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}