{% extends 'base.html' %}
{% block nav %}
<nav class="nav nav-masthead">
    <a class="nav-link active" href="{{ context['page'].HOME_DOMAIN }}">{{ context['page'].HOME_TEXT }}</a>
    <a class="nav-link" href="{{ context['page'].JOURNAL_DOMAIN }}">{{ context['page'].JOURNAL_TEXT }}</a>
    <a class="nav-link" href="{{ context['page'].HOBBY_DOMAIN }}">{{ context['page'].HOBBY_TEXT }}</a>
    <a class="nav-link" href="{{ context['page'].BLOG_DOMAIN }}">{{ context['page'].BLOG_TEXT }}</a>
    <a class="nav-link" href="{{ context['page'].COURSEWARE_DOMAIN }}">{{ context['page'].COURSEWARE_TEXT }}</a>
    <a class="nav-link" href="{{ context['page'].CONTACT_DOMAIN }}">{{ context['page'].CONTACT_TEXT }}</a>
</nav>

{% endblock %}

{% block main%}
<h1 class="cover-heading">网站正在建设中,更多功能稍候开放...</h1>
<p class="lead"></p>
<p class="lead">
    <!--<a href="#" class="btn btn-lg btn-secondary">Learn more</a>-->
</p>
{% endblock %}