{% extends 'base.html' %}
{% block nav %}
<nav>
    <ul class="nav nav-pills pull-right">
        <!--Home -->
        <li role="presentation" class="active">
            <a href="{{ context['page'].HOME_DOMAIN }}">{{ context['page'].HOME_TEXT }}</a>
        </li>
        <!--JOURNAL -->
        <li role="presentation">
            <a href="{{ context['page'].JOURNAL_DOMAIN }}">{{ context['page'].JOURNAL_TEXT }}</a>
        </li>
        <!--HOBBY -->
        <li role="presentation">
            <a href="{{ context['page'].HOBBY_DOMAIN }}">{{ context['page'].HOBBY_TEXT }}</a>
        </li>
        <!--BLOG -->
        <li role="presentation">
            <a href="{{ context['page'].BLOG_DOMAIN }}">{{ context['page'].BLOG_TEXT }}</a>
        </li>
        <!--COURSEWARE -->
        <li role="presentation">
            <a href="{{ context['page'].COURSEWARE_DOMAIN }}">{{ context['page'].COURSEWARE_TEXT }}</a>
        </li>
        <!--CONTACTL -->
        <li role="presentation">
            <a href="{{ context['page'].CONTACT_DOMAIN }}">{{ context['page'].CONTACT_TEXT }}</a>
        </li>

    </ul>
</nav>
{% endblock %}



{% block header %}
<div class="jumbotron">
    <h2>EnjoyToday</h2>
    <p class="lead">网站正在建设中,更多功能稍候开放....</p>
    <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
</div>
{% endblock %}




